.img {
    width: 100%;
}

.film-info-line {
    padding-top: 1rem;
}

.pages-link {
    text-decoration: none;
}

.pages-link:hover {
    text-decoration: none;
}

.pages-link:active {
    text-decoration: none;
}

.pages-link:visited {
    text-decoration: none;
    color: black;
}

.pages-link:focus {
    text-decoration: none;
}


